.container{
    border: black;
    width: 100%;
    padding-top: 20px;
    background-color: thistle;
}
.row{
    padding-bottom: 15px;
}
button{
    margin-left: 40px;
}
.alert-error{
    color: red;
 }
 input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
.form-control{
    box-shadow: none;
}
a{
    cursor: pointer;
}